/* ============================================================= */
.link-hover {
  color: inherit;
  border: inherit;
  padding: inherit;
}
.link-hover:hover {
  color: tomato;
  border-bottom: 3px solid tomato;
  padding-bottom: 3px;
}
.link-hover:active {
  border-bottom: 1px solid tomato;
}

/* Login Page */
/* ================================================================ */

.banner {
  min-height: calc(100vh - 66px);
  background: url('./images/bannerbackground.png') center/cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}
/* ==================================== */
