/* Login Page */
/* ================================================================ */

.banner {
  min-height: calc(100vh - 66px);
  background: url('./images/bannerbackground.png') center/cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}
